<div class="ultimate-harvester-form">
  <div class="ultimate-harvester-section">
    <p><strong>{{harvesterName}}</strong> appraised <strong>{{creatureName}}</strong></p>
    <p>Rolled {{rollTotal}} vs DC {{appraisalDC}} ({{skillLabel}})</p>
  </div>

  {{#if isNat20}}
  <p class="ultimate-harvester-nat20"><i class="fas fa-star ultimate-harvester-icon--gold"></i> Critical appraisal! +2 bonus to harvest roll.</p>
  {{else if isNat1}}
  <p class="ultimate-harvester-crit-fail"><i class="fas fa-skull-crossbones ultimate-harvester-icon--danger"></i> Fumbled appraisal! Harvest roll will be at disadvantage.</p>
  {{/if}}

  {{#if success}}
  <p class="ultimate-harvester-appraisal-success"><i class="fas fa-check-circle ultimate-harvester-icon--success"></i> Advantage granted on harvest roll</p>

  <div class="ultimate-harvester-section">
    <div class="ultimate-harvester-section-header">
      <span>Identified Materials</span>
    </div>
    <ul class="ultimate-harvester-item-list">
      {{#each visibleItems}}
      <li class="ultimate-harvester-difficulty-{{this.difficultyClass}}">
        {{#if this.isHidden}}
        <i class="fas fa-question-circle ultimate-harvester-icon--unknown"></i>
        <em>Unknown Material</em>
        {{else}}
        <i class="{{this.categoryIcon}} ultimate-harvester-icon--{{this.category}}"></i>
        <strong>{{this.text}}</strong>
        <span class="ultimate-harvester-badge ultimate-harvester-badge--{{this.category}}">{{this.categoryLabel}}</span>
        {{/if}}
        <span class="ultimate-harvester-difficulty-label ultimate-harvester-difficulty-label--{{this.difficultyClass}}">{{this.difficulty}}</span>
      </li>
      {{/each}}
    </ul>
  </div>

  <div class="ultimate-harvester-section">
    <div class="ultimate-harvester-section-header">
      <span>Risks</span>
    </div>
    {{#if critFailEffect}}
    <p class="ultimate-harvester-note"><i class="fas fa-skull-crossbones ultimate-harvester-icon--danger"></i> <strong>Nat 1:</strong> <em>{{critFailEffect}}</em></p>
    {{/if}}
    {{#if fumbleEffect}}
    <p class="ultimate-harvester-note"><i class="fas fa-exclamation-triangle ultimate-harvester-icon--warning"></i> <strong>Roll &lt; 5:</strong> <em>{{fumbleEffect}}</em></p>
    {{/if}}
  </div>

  {{#if harvestTimeEstimate}}
  <p class="ultimate-harvester-note"><i class="fas fa-clock ultimate-harvester-icon--time"></i> Estimated harvest time: ~{{formatTime harvestTimeEstimate}}</p>
  {{/if}}

  {{else}}
  <p><em>The examination revealed nothing useful. You may still attempt to harvest blind (without advantage).</em></p>
  {{#if retryPenalty}}
  <p class="ultimate-harvester-note">Cumulative retry penalty: {{retryPenalty}}</p>
  {{/if}}
  {{/if}}

  <p class="ultimate-harvester-time-banner"><i class="fas fa-hourglass-half ultimate-harvester-icon--time"></i> <strong>Appraisal took {{formatTime timeElapsed}}</strong></p>
</div>
